@{
    ViewBag.Title = "About";
}

    <img src="~/images/For CV 2.jpg" alt="..." class="img-thumbnail mx-auto rounded-circle">

<p class="font-weight-bold col-12">Bold text.</p>
<p class="text-justify col-9">Представлена інформація не відображає реальну, має лише історичне підгрунтя та використовується для демонтраційних цілей</p>
<img src="..." alt="..." class="img-thumbnail col-3">

<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Index">На головну</a>