@{
    ViewBag.Title = "About";
}

<p class="font-weight-bold col-12">Bold text.</p>
<p class="text-justify col-9">Text...</p>
<img src="..." alt="..." class="img-thumbnail col-3">

<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Index">На головну</a>