@{
    ViewData["Title"] = "Home Page";
}
@model Query1

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <form asp-action="MapView" asp-controller="Home" method="POST">
            <div>
                <input asp-for="Year" type="text" maxlength="4" size="40" value="1250">
                <input asp-for="Level" type="range" min="0" max="4" step="1" value="2">
                <input asp-for="Exeptions" type="text" maxlength="100" size="100" value="Enter Exceptions">
                <input type="submit" value="Output">
            </div>
        </form>
    </div>

</div>
