@{
    ViewData["Title"] = "Search users";
}
@model Handler.Models.UserPanel.User

<div class="text-center">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" asp-controller="SoursePanel" asp-action="index">Знайти джерела</a>
            </li>
            <li class="nav-item User">
                <a class="nav-link" asp-controller="SoursePanel" asp-action="AddSourse">Додати джерела</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active Admin" asp-controller="UserPanel" asp-action="SearchUsers">Знайти користувачів</a>
            </li>
        </ul>
    </div>

    <div>

        <form asp-controller="UserPanel" asp-action="ListUsers" method="POST">
            <p class="text-center">Форма для пошуку користувачів</p>
            <div class="form-group mb-5 mx-auto text-center">
                <img class="mb-4" src="~/images/Paneluser.png" alt="" width="72" height="72">
            </div>

            <div class="form-group">
                <label for="InputPIB">Прізвище Ім'я Побатькові</label>
                <input asp-for="PIB" type="text" class="form-control" id="InputPIB" aria-describedby="PIBHelp">
                <small id="PIBHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="InputPhone">Номер телефону</label>
                <input asp-for="Phone" type="text" class="form-control" id="InputPhone">
            </div>
            <div class="form-group">
                <label for="InputRights">Права</label>
                <input asp-for="Rights" type="text" maxlength="5" class="form-control" id="InputRights">
            </div>
            <div class="form-group">
                <label for="InputLogin">Логін</label>
                <input asp-for="Login" type="text" maxlength="5" class="form-control" id="InputLogin">
            </div>
            <div class="form-group mb-5">
                <label for="InputBirthday">День народження</label>
                <input asp-for="Birthday" type="date" class="form-control" id="InputBirthday">
            </div>
            <button type="submit" id="OutputUsers" class="btn btn-primary">Знайти</button>
        </form>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="~/js/ControlePanel.js" asp-append-version="true"></script>