    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - "Visualization of administrative territorialdivisions", Нікуліцов Єгор, ДНУЗТ
            <!--&copy; 2020 - Handler - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>-->
        </div>
    </footer>