@{
    ViewData["Title"] = "Add sourse";
}
@model Handler.Models.SoursePanel.Sourse

<div class="text-center">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" asp-controller="SoursePanel" asp-action="index">Знайти джерела</a>
            </li>
            <li class="nav-item User">
                <a class="nav-link active" asp-controller="SoursePanel" asp-action="AddSourse">Додати джерела</a>
            </li>
            <li class="nav-item">
                <a class="nav-link Admin" asp-controller="UserPanel" asp-action="SearchUsers">Знайти користувачів</a>
            </li>
        </ul>
    </div>

    <div>
        <form asp-controller="SoursePanel" asp-action="NewSourseAsync" method="POST">
            <p class="text-center">Форма додавання джерела</p>
            <div class="form-group mb-5 mx-auto text-center">
                <img class="mb-4" src="~/images/Addbook.png" alt="" width="72" height="72">
            </div>

            <div class="form-group">
                <label for="InputName">Назва</label>
                <input asp-for="Name" type="text" class="form-control" id="InputName" aria-describedby="NameHelp">
                <small id="NameHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="InputAuthor">Автор</label>
                <input asp-for="Author" type="text" class="form-control" id="InputAuthor">
            </div>
            <div class="form-group">
                <label for="InputType">Тип</label>
                <input asp-for="Type" type="text" class="form-control" id="InputType">
            </div>
            <div class="form-group">
                <label for="InputYear">Рік</label>
                <input asp-for="Year" type="text" maxlength="5" class="form-control" id="InputYear">
            </div>
            <div class="custom-file mb-5">

                <input asp-for="DOCF" type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Завантажити джерело</label>
            </div>

            <button type="submit" id="AddSourse" class="btn btn-primary">Додати</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="~/js/ControlePanel.js" asp-append-version="true"></script>