@{
    ViewData["Title"] = "Edit sourse";
}
@model Sourse

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="SoursePanel" asp-action="Index">Search sourse</a>

    <div>
        <form asp-action="NewSourseAsync" asp-controller="SoursePanel" method="POST">
            <div>
                <input asp-for="Name" type="text" maxlength="100" size="40" value="Enter name">
                <input asp-for="Type" type="text" maxlength="100" size="40" value="Enter type">
                <input asp-for="Author" type="text" maxlength="100" size="40" value="Enter author">
                <input asp-for="Year" type="text" maxlength="4" size="4" value="Enter year">
                <input asp-for="Language" type="text" maxlength="100" size="40" value="Enter language">
                <input asp-for="DOCF" type="file" class="form-control" />
                <input type="submit" value="Upload">
            </div>
        </form>
    </div>
</div>