@{
    ViewData["Title"] = "Search sources";
}
@model Handler.Models.SoursePanel.Sourse

    <div class="text-center">
        <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a asp-controller="SoursePanel" asp-action="AddSourse">Add</a>

        <div>
            <form asp-action="ListSources" asp-controller="SoursePanel" method="POST">
                <div>
                    <input asp-for="Name" type="text" maxlength="100" size="100" value="Enter name">
                    <input asp-for="Author" type="text" maxlength="100" size="100" value="Enter author">
                    <input asp-for="Year" type="text" maxlength="4" size="40" value="Enter year create">
                    <input asp-for="YearRelevance" type="text" maxlength="4" size="40" value="Enter year relevance">
                    <input asp-for="Type" type="text" maxlength="100" size="100" value="Enter type">
                    <input type="submit" value="Output">
                </div>
            </form>
        </div>

    </div>